<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shardingspherejdbc.mybatisplus.mapper.AnswersMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shardingspherejdbc.mybatisplus.entity.Answers">
        <id column="id" property="id" />
        <result column="question_id" property="questionId" />
        <result column="test_id" property="testId" />
        <result column="student_id" property="studentId" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="stu_answer_content" property="stuAnswerContent" />
        <result column="answer_content" property="answerContent" />
        <result column="score" property="score" />
        <result column="status" property="status" />
        <result column="get_score" property="getScore" />
        <result column="time" property="time" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, question_id, test_id, student_id, start_time, end_time, stu_answer_content, answer_content, score, status, get_score, time
    </sql>

</mapper>
