<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shardingspherejdbc.mybatisplus.mapper.ClassesMapper">
  <!--Author:，Date:2023-04-23，selectByClassId的结果映射配置，由mybatis-plus-generator-ui自动生成-->
  <resultMap id="SelectByClassIdResultDtoMap" type="com.shardingspherejdbc.mybatisplus.dto.SelectByClassIdResultDto"> 
    <result column="id" property="id"/>
    <result column="class_id" property="classId"/>
    <result column="class_name" property="className"/>
    <result column="teacher_id" property="teacherId"/>
    <result column="createdAt" property="createdAt"/>
    <result column="updatedAt" property="updatedAt"/> 
  </resultMap>  
  <!-- 通用查询映射结果 -->  
  <resultMap id="BaseResultMap" type="com.shardingspherejdbc.mybatisplus.entity.Classes"> 
    <id column="id" property="id"/>  
    <result column="class_id" property="classId"/>  
    <result column="class_name" property="className"/>  
    <result column="teacher_id" property="teacherId"/>  
    <result column="createdAt" property="createdAt"/>  
    <result column="updatedAt" property="updatedAt"/> 
  </resultMap>  
  <!-- 通用查询结果列 -->  
  <sql id="Base_Column_List">id, class_id, class_name, teacher_id, createdAt, updatedAt</sql>  
  <!--Author:，Date:2023-04-23,由mybatis-plus-generator-ui自动生成-->
  <select id="selectByClassId" resultMap="SelectByClassIdResultDtoMap">select * from Classes where 1=1 
    <if test="classId!=null">AND class_id = #{classId}</if> 
  </select>


  <select id="selectPage" resultMap="BaseResultMap">
    select * from Classes
    <where>
      ${ew.sqlSegment}
    </where>
  </select>
</mapper>
