<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shardingspherejdbc.mybatisplus.mapper.StudentsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shardingspherejdbc.mybatisplus.entity.Students">
        <id column="id" property="id" />
        <result column="student_id" property="studentId" />
        <result column="student_name" property="studentName" />
        <result column="open_id" property="openId" />
        <result column="student_tel" property="studentTel" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, student_id, student_name, open_id, student_tel
    </sql>

</mapper>
